.section-card[b-nch7xwt74i] {
    width: 900px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: white;
}

.dashboard-content[b-nch7xwt74i] {
    display: flex;
    flex-direction: column;
}



/* Make saldo + actions horizontal */
.balance-actions-row[b-nch7xwt74i] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #f1f3f4;
    padding-right: 10px;
}

.balance-card[b-nch7xwt74i] {
    background-color: #f1f3f4;
    padding: 1.5rem;
    display: flex; /* horizontal layout */
    align-items: center; /* vertically center label + amount */
    justify-content: space-between; /* spread label and amount */
    gap: 1rem;
    flex: 1;
    font-size: 1.2rem;
}

    .balance-card h2[b-nch7xwt74i] {
        margin: 0;
        font-weight: normal;
    }

    .balance-card p[b-nch7xwt74i] {
        margin: 0;
        font-weight: bold;
        font-size: 1.4rem;
    }


/* Buttons container */
.actions[b-nch7xwt74i] {
    display: flex;
    gap: 1rem;
}

.btn-action[b-nch7xwt74i] {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

    .btn-action:hover[b-nch7xwt74i] {
        background-color: #155ab6;
    }

h3[b-nch7xwt74i] {
    padding-left: 10px;
}

.transactions table[b-nch7xwt74i] {
    width: 100%;
    border-collapse: separate;   /* must be separate */
    border-spacing: 0 0.5rem;   /* vertical gap between rows */
}

.transactions th[b-nch7xwt74i] {
    padding: 0.8rem;
    background-color: #e0e0e0;
    text-align: left;
}

.transactions td[b-nch7xwt74i] {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0; /* adds a line under each cell */
}






/* Transactions header row: heading + search input */
.transactions-header[b-nch7xwt74i] {
    display: flex;
    justify-content: space-between; /* heading left, input right */
    align-items: center;
}

/* Search input styling */
.transactions-search[b-nch7xwt74i] {
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 200px; /* adjust as needed */
    margin-right: 10px;
}

