@page "/"
@using Frontend.Components.Layout
@layout MainLayout

<div class="section-card">
    <TopBar />

    <div class="hero">
        <img src="images/Bank.png" alt="Banking Hero Image" class="hero-image" />
        <div class="hero-text">
            <h1>Velkommen til Jønke Bank</h1>
            <p>Din digitale løsning til økonomisk overblik og en sikker bankoplevelse.</p>
        </div>
    </div>
</div>


