@page "/login"
@using Frontend.Components.Layout
@layout MainLayout




<div class="section-card">
    <TopBar Mode="TopBar.TopBarMode.Login" />
    <div class="login-form">
        <input type="text" placeholder="Brugernavn/Email" class="input-field" />
        <input type="password" placeholder="Adgangskode" class="input-field" />
        <button class="btn btn-submit">LOGIN</button>
    </div>
</div>
