@page "/register"
@using Frontend.Components.Layout
@layout MainLayout

<div class="section-card">
    <TopBar Mode="TopBar.TopBarMode.Login" />

    <div class="register-form">
        <h2>Opret konto</h2>

        <div class="name-row">
            <input type="text" placeholder="Fornavn" class="input-field half" />
            <input type="text" placeholder="Efternavn" class="input-field half" />
        </div>

        <input type="email" placeholder="Email" class="input-field" />
        <input type="password" placeholder="Adgangskode" class="input-field" />
        <input type="password" placeholder="Gentag adgangskode" class="input-field" />
        <button class="btn btn-submit">Opret</button>
    </div>
</div>

