@page "/register"
@using Frontend.Components.Layout
@layout MainLayout

<div class="section-card">
    <TopBar Mode="TopBar.TopBarMode.Register" />

    <div class="register-form">

        <div class="name-row">
            <input type="text" placeholder="Fornavn" class="input-field half" />
            <input type="text" placeholder="Efternavn" class="input-field half" />
        </div>
        <input type="brugernavn" placeholder="Brugernavn" class="input-field" />
        <input type="email" placeholder="Email" class="input-field" />
        <input type="password" placeholder="Adgangskode" class="input-field" />
        <input type="password" placeholder="Gentag adgangskode" class="input-field" />
        <button class="btn btn-submit">OPRET</button>
    </div>
</div>

